<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYaayqw8f8QDvkL8yCWDBgOP_2FPDigE4</string>
	<key>GCM_SENDER_ID</key>
	<string>817204874747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techathon.laundrify</string>
	<key>PROJECT_ID</key>
	<string>laundrymachine-f9fdf</string>
	<key>STORAGE_BUCKET</key>
	<string>laundrymachine-f9fdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817204874747:ios:01cc45179da79874c7cf5e</string>
	<key>DATABASE_URL</key>
	<string>https://laundrymachine-f9fdf-default-rtdb.firebaseio.com</string>
</dict>
</plist>